
@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* Equivalent to ModalInner2 */
.ModalInner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Equivalent to CloseStyle */
.close-style {
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    width: 100%;
    padding: 1px;
    border-radius: 0 0 15px 15px;
    color: #ffffff;
}

/* Equivalent to Close */
.close {
	background-color: #282828;
    cursor: pointer;
	border: none;
}

/* Initial state for ModalWrapper - you will need to toggle these classes based on visibility */
.modal-wrapper-visible {
    display: block; /* This class should be toggled based on the modal's visibility */
}

.modal-wrapper {
    box-sizing: border-box;
    display: none; /* Default to not displayed, use JavaScript to toggle visibility */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
}

/* Initial state for ModalOverlay - similar to ModalWrapper, toggle based on visibility */
.modal-overlay-visible {
    display: block; /* This class should be toggled based on the modal's visibility */
}

.modal-overlay {
    box-sizing: border-box;
    display: none; /* Default to not displayed, use JavaScript to toggle visibility */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
@import url('https://rsms.me/inter/inter.css');

*{
   font-family: 'S-CoreDream-3Light';
   color: white;
   box-sizing: border-box;
}

body{
   overflow-x: hidden; 
   background-color: #1D1D1D;
}
.main-logo{
   /*clear both 속성은 div 태그를 가로로 배열해주고 
   가로로 배열하려는 모든 div에 float: left; 속성을 줘야 적용됨.*/
   float: left;
   width: 50%;
   height: 45%;
   border: 1px solid #978876;
}

.main-info1{
   float: left;
   width: 50%;
   height: 45%;
   border: 1px solid #978876;
}

.main-info2{
   float: left;
   width: 25%;
   height: 55%;
   border: 1px solid #978876;
}

.main-info3{
   float: left;
   width: 25%;
   height: 55%;
   border: 1px solid #978876;
}

.main-info4{
   float: left;
   width: 25%;
   height: 55%;
   border: 1px solid #978876;
}

.main-info5{
   float: left;
   width: 25%;
   height: 55%;
   border: 1px solid #978876;
}


/* ############ 767px 이하 ############ */
@media(max-width:767px) {
	.txt{
		list-style-type: none;
		font-size: 4px;
		color: gray;
		position: relative;
		left: 22%;
	}

	footer {
		/*이 footer를 감싼 영역 자체에 margin-top을 줘버리면 빈 공간이 생김*/
		clear: both;
		width: 100%;
		height: 70px;
		color: gray;
		list-style-type: none;
		background-color:#292929;
		font-size: 10px;
	}
	.footer_box {
		clear: both;
		width: 100%;
		height: 70px;
		margin: 0 auto;
	}
	.footer_logo {
		float: left;
		margin-top: 5px;
		margin-left: 5px;
		width: 40px;
		height:40px;
	}
	.footer_box .address {
		float: right;
		margin-right:20%;
		margin-top: 2%;
		font-size: 3px;
		color: gray;
		/* margin: 45px 0 0 30px; */
	}
	.address{
		color: darkgray;
	}
	.logo {
		top: 3px;
		left : -10px;
		cursor:pointer;
		float: left;
		width: 170px;
		height: auto;
		
		z-index: 20;
	}
	header{
		padding: 0;
		height: 56px;
	}
	header h1{
		height: 56px;
	}
	header h1 img{
		top:20px;
		height: 16px;
	}
	.main-navigation{
		position: fixed;
		top:0;
		right:0;
		padding:50px 20px;
		width: 100%;
		height: 100vh;
		background-color: rgba(14,25,38,0.9);
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
		transition: 0.3s;
	}
	.main-navigation.active{
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		transition: 0.3s;
	}
	.main-navigation a{
		display: block;
		margin:auto;
		margin-bottom:8px;
		padding:12px;

	}
	.main-navigation a.btn{
		text-align: center;
	}
	.video-wrap{
		top:5vw;
		left:-50%;
		width:200%;
	}
	.text-wrap{
		width:100%;
		height: auto;
		padding:20px;
		top:auto;
		bottom:20px;
	}
	.text-wrap h2{
		font-size: 36px;
	}
	.text-wrap h3{
		font-size: 20px;
	}
	.text-wrap p {
		font-size: 14;
	}

	.more-btn{
		display: block;
		position: absolute;
		right:12px;
		top:8px;
		width:40px;
		height: 40px;
		border-radius: 8px;
		border:none;
		background-color: transparent;
	}
	.more-btn .icon{
		display: block;
		width:24px;
		height: 24px;
		margin: 0 auto;
		background: url(../images/menu-icon.svg) no-repeat center;
		background-size: contain;
	}
	.more-btn.active .icon{
		background: url(../images/menu-close-icon.svg) no-repeat center;
		background-size: contain;
	}
   .parag{
	   top: 30%;
	   /* left: 40%; */
	   text-align: center;
	   position: relative;
	   width: 100%;
	   height: 20px;
   }
   .parag-icon{
	   text-align: center;
	   width: 100px;
	   height: 10px;
   }
   .form{
	   align-items: center;
	   clear: both;
	   width: 100%;
	   height: 200px;
	   display: flex;
	   background-color: #1D1D1D;
	   margin-right: 0;
	   display: flex;
   }
   .main-msg{
	   z-index: 20;
	   height: 350px;
	   text-align: center;
	   color: white;
	   position: relative;
	   background-image: url('../images/background-mobile.png');
	   background-size: cover;
   }
   .main-msg::before{
	   content: "";
	   opacity: 0.08;
	   position: absolute;
	   top: 0px;
	   left: 0px;
	   right: 0px;
	   bottom: 0px;
	   background: linear-gradient(to right, black, white, black);

   }
   .main-msg h1{
	   color: #fff;
	   top: -10px;
	   text-align: center;
	   position: relative;
	   font-size: 20px;
   }
   .main-msg h3{
	   top: -5px;
	   color: #fff;
	   text-align: center;
	   position: relative;
	   font-size: 8px;
   }
   .main-info{
	   width: 100%;
	   height: 350px;
	   float: left; /*블록 요소를 가로로 정렬할 때 사용*/
	   background-color: #1D1D1D;
   }

   .main-rec{
	   margin-top: 5%;
	   position: absolute;
	   left: 50%;
	   transform: translateX(-50%);
	   float: left;
	   width: 92vw;
	   height: 280px;
	   background-color: #262626;
   }
   .icon1{
	   display: block;
	   margin: auto;
	   margin-top: 10%;
	   float: center;
	   width: 85px;
	   height: 85px;
   }
   .main-contents1{
	   top: 5%;
	   left: 10%;
	   position: relative;
   }

   .main-contents1 > h2{
	   font-size: 15px;
   }

   .holdem-info{
	   font-size: 10px;
   }
   .main-contents2 > h3{
   margin-top: 15%;
   font-size: 9px;
   text-align: center;
   }

   .main-contents3 > h3{
	   margin-top: 15%;
	   font-size:  9px;
	   text-align: center;
   }

   .main-contents4 > h3{
	   margin-top: 15%;
	   font-size:  9px;
	   text-align: center;
   }

   .main-contents5 > h3{
	   margin-top: 15%;
	   font-size:  9px;
	   text-align: center;
   }

   .main-contents2 > h5{
	   margin-top: 10%;
	   margin-left:5%;
	   font-size: 0.42rem;
	   font-weight: 400; /*400-기본, 700-bold*/
	   text-align: center;
	   width: 90%;

   }

   .main-contents3 > h5{
	   margin-top: 10%;
	   margin-left:5%;
	   font-size:0.42rem;
	   font-weight: 400;
	   text-align: center;
	   width: 90%;
   }

   .main-contents4 > h5{
	   margin-top: 10%;
	   margin-left:5%;
	   font-size: 0.42rem;
	   font-weight: 400;
	   text-align: center;
	   width: 90%;
   }

   .main-contents5 > h5{
	   margin-top: 10%;
	   margin-left:5%;
	   font-size: 0.42rem;
	   font-weight: 400;
	   text-align: center;
	   width: 90%;
   }
   .info-icon{
	   width: 50px;
	   height: 50px;
	   margin: auto;
	   display: block;
   }
   .contact-msg{
	   clear: both;
	   background-color: #1D1D1D;
	   width: 100%;
	   height:220px;
   }
   .contact-msg > h1{
	   position: relative;
	   text-align: center;
	   top: 35%;
	   font-size: 20px;
   }
   .contact-msg > h4{
	   position: relative;
	   text-align: center;
	   top: 40%;
	   font-size: 4px;
   }
   .contact{
	   width: 50%;
	   height: 100%;
	   /* border: 1px solid white; */
	   clear: both;
	   display: inline-block;
   }
   .contact > h2{
	   font-size: 18px;
	   left: 10%;
	   top: 5%;
	   position: relative;
   }
   .contact > h3{
	   font-size: 4.5px;
	   left: 10%;
	   top: 5%;
	   line-height: 3.5em;
	   position: relative;
   }
   .contact-form{
	   width: 50%;
	   height: 100%;
	   display: inline-block;
	   clear: both;
	   /* border: 1px solid white; */
   }
   .contact-form > h2{
	   left: 15%;
	   top: 7%;
	   font-size: 15px;
   }
   
   .inputBox{
	   left: 15%;
	   clear: both;
	   display: flex;
	   width: 100%;
	   height: 23%;
	   top: 10%;
   }
   
   .box1{
	   width: 44.9px;
	   height: 20px;
	   background: #FFFFFF;
	   border-radius: 7px;
	   margin-right: 2%;
	   box-sizing: border-box;
	   font-size: 8px;
	   transition: all 0.5s;
	   color: black;
   }
   .box2{
	   width: 64.9px;
	   height: 20px;
	   background: #FFFFFF;
	   border-radius: 7px;
	   margin-right: 2%;
	   box-sizing: border-box;
	   font-size: 8px;
	   transition: all 0.5s;
	   color: black;
   }
   .box3{
	   width: 44.9px;
	   height: 20px;
	   background: #FFFFFF;
	   border-radius: 7px;
	   margin-right: 2%;
	   box-sizing: border-box;
	   font-size: 8px;
	   transition: all 0.5s;
	   color: black;
   }
   .box1:focus{
	   outline: none;
   }
   .box2:focus{
	   outline: none;
   }
   .box3:focus{
	   outline: none;
   }
   .submit-area{
	   position: relative;
	   width: 100%;
	   height: 30px;
	   /* border: 1px solid white; */
   }	

   .submit-btn{
	   left: 16.5em;
	   position: relative;
	   box-sizing: border-box;
	   width: 40px;
	   height: 17px;
	   background: #000000;
	   border: 2.2px solid #FFFFFF;
	   font-size: 8px;
	   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	   border-radius: 5px;
   }		

}

.container {
	width: 100%;
	max-width: 1480px;
	padding: 0 20px;
	margin: auto;
	position: relative;
	background-color: #1A1E1F;
	z-index: 50;
}
a {
	font-size: 16px;
	text-decoration: none;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 20;
	background-color: #1A1E1F;
}

header h1 {
	position: relative;
	height: 40px;
	margin:0;
	float: left;
	z-index: 30;
}
header h1 img{
	display: block;
	position: relative;
	top:22px;
}


.btn {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	padding: 12px 20px;
	border-radius: 8px;
	background-color: #004fff;
}

.ghost-btn {
	background-color: transparent;
	border: 1px solid #004fff;
}

.text-wrap {
	width: 520px;
	height: 100vh;
	padding: 240px 20px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.text-wrap h2 {
	color: #fff;
	font-size: 64px;
	line-height: 1.25;
	font-weight: lighter;
	margin-bottom: 40px;
}

.text-wrap h3 {
	color: #fff;
	font-size: 24px;
	line-height: 1.25;
	margin-bottom: 20px;
}

.text-wrap p {
	color: #fff;
	font-size: 16px;
	line-height: 1.8;
	margin-bottom: 20px;
}

.hero-bg {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #0E1926;
}

.hero-bg .container {
	height: 100%;
}

.video-wrap {
	position: absolute;
	left: 200px;
	width: 1600px;
	height: 100vh;
	z-index: 1;
}

.video-wrap video,
.video-wrap img {
	position: absolute;
	display: block;
	width: 100%;
}
/* ############ 768px 이상 ############ */
@media(min-width:768px) {
	.more-btn {

		display: none;
	
	}
	
	.txt{
		list-style-type: none;
		font-size: 17px;
		color: gray;
		position: relative;
		left: 70%;
		line-height: 1.5rem;
	}

	footer {
		clear: both;
		position: relative;
		width: 100%;
		height: 150px;
		color: darkgray;
		list-style-type: none;
		background-color:#292929;
	}
	.footer_box {
		position: relative;
		width: 100%;
		height: 150px;
	}
	.footer_logo {
		clear: both;
		float: left;
		margin-top: 12.5px;
		width: 100px;
		left: 3%;
		height:100px;
	}
	.footer_box .address {
		float: right;
		margin-right: 20%;
		font-size: 20px;
		color: darkgray;
	}
	.address{
		margin-top: 2%;
		color: #404040;
		
	}
	.logo {
		top: 8px;
		cursor:pointer;
		float: left;
		width: 270px;
		height: auto;
		margin: 0;
		padding: 0;
		z-index: 50;
		}
		
	
		.main-navigation {
			float: right;
			font-size: 20px;
		}
	
		.main-navigation a {
			color: #fff;
			margin-left: 30px;
			margin-top: 10px;
		}
	
		.main-navigation a.active {
			font-weight: bold;
			border-bottom: 2px solid #004fff;
		}
		a {
			font-size: 22px;
			text-decoration: none;
		}
   .parag{
	   top: 30%;
	   /* left: 40%; */
	   text-align: center;
	   position: relative;
	   width: 100%;
	   height: 50px;
   }
   .parag-icon{
	   text-align: center;
	   width: 350px;
	   height: 30px;
   }
   .form{
	   margin-right: 0;
	   display: flex; /* flex 속성을 사용하면 그 안의 자식 요소를 가로로 정렬해줌*/ 
	   width: 100%;
	   height: 500px;
	   background-color: #1D1D1D;;
	   align-items: center;
   }
   .contact-msg{
	   clear: both;
	   background-color: #1D1D1D;
	   width: 100%;
	   height:550px;
   }
   .contact-msg > h1{
	   position: relative;
	   text-align: center;
	   top: 35%;
	   font-size: 40px;
   }
   .contact-msg > h4{
	   position: relative;
	   text-align: center;
	   top: 40%;
	   font-size: 20px;
   }
   .contact{
	   width: 40%;
	   height: 100%;
	   /* border: 1px solid white; */
	   clear: both;
	   display: inline-block;
   }
   .contact > h2 {
	   font-size: 38px;
	   left: 30%;
	   top: 5%;
	   position: relative;
   }
   .contact > h3{
	   font-size: 23px;
	   left: 30%;
	   top: 5%;
	   line-height: 2em;
	   position: relative;
   }
   .contact-form{
	   width: 60%;
	   height: 100%;
	   display: inline-block;
	   /* border: 1px solid white; */
   }
   .contact-form > h2{
	   left: 15%;
	   top: 5%;
	   font-size: 38px;
   }
   
   .inputBox{
	   left: 15%;
	   clear: both;
	   display: flex;
	   width: 100%;
	   height: 30%;
	   top: 10%;
   }
   
   .box1{
	   width: 229px;
	   height: 80px;
	   background: #FFFFFF;
	   border-radius: 10px;
	   margin-right: 2%;
	   box-sizing: border-box;
	   font-size: 20px;
	   transition: all 0.5s;
	   color: black;
   }
   .box2{
	   width: 229px;
	   height: 80px;
	   background: #FFFFFF;
	   border-radius: 10px;
	   margin-right: 2%;
	   box-sizing: border-box;
	   font-size: 20px;
	   transition: all 0.5s;
	   color: black;
   }
   .box3{
	   width: 229px;
	   height: 80px;
	   background: #FFFFFF;
	   border-radius: 10px;
	   margin-right: 2%;
	   box-sizing: border-box;
	   font-size: 20px;
	   transition: all 0.5s;
	   color: black;
   }
   .box1:focus{
	   outline: none;
   }
   .box2:focus{
	   outline: none;
   }
   .box3:focus{
	   outline: none;
   }
   .submit-area{
	   position: relative;
	   width: 100%;
	   height: 50px;
	   /* border: 1px solid white; */
   }	

   .submit-btn{
	   left: 46em;
	   position: relative;
	   box-sizing: border-box;
	   width: 159px;
	   height: 59px;
	   background: #000000;
	   border: 3px solid #FFFFFF;
	   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	   border-radius: 10px;
	   transition: 0.25s;
   }		
   .submit-btn:hover{
	   /* color: black;
	   background: white; */
	   border: 3px solid #FFFFFF;
	   border-radius: 10px;
	   letter-spacing: 2px;
	   transform: scale(1.2);
	   cursor: pointer;
   }		
   .submit-btn:active{
	   letter-spacing: 2px;
	   transform: scale(1,2);
	   cursor: pointer;
   }
   .main-msg{
	   text-align: center;
	   width: 100%;
	   height:1050px;
	   color: white;
	   position: relative;
	   background-image: url('../images/background-img.png');
	   background-size: cover;
   }
   .main-msg::before{
	   content: "";
	   opacity: 0.07;
	   position: absolute;
	   top: 0px;
	   left: 0px;
	   right: 0px;
	   bottom: 0px;
	   /* background-color: #000; */
	   background: linear-gradient(to right, black, white, black);

   }
   .main-msg h1{
	   color: #fff;
	   top: 8%;
	   text-align: center;
	   position: relative;
	   font-size: 40px;
   }
   .main-msg h3{
	   color: #fff;
	   top: 9.5%;
	   text-align: center;
	   position: relative;
	   font-size: 28px;
   }
   .main-info{
	   width: 100%;
	   height: 900px;
	   float: left; /*블록 요소를 가로로 정렬할 때 사용*/
	   background-color: #1D1D1D;
   }

   .main-rec{
	   margin-top: 5%;
	   position: absolute;
	   left: 50%;
	   transform: translateX(-50%);
	   float: left;
	   width: 90vw;
	   height: 750px;
	   background-color: #262626;
	   border: 1px solid #978876;
   }
   .icon1{
	   display: block;
	   margin: auto;
	   margin-top: 5%;
	   float: center;
	   width: 250px;
	   height: 250px;
   }
   .main-contents1{
	   left: 10%;
	   top: 8%;
	   position: relative
		   ;
   }

   .main-contents1 > h2
   {
	   font-size: 2.5em;
   }

   .holdem-info{
	   font-size: 1.8em;
	   line-height: 2.5rem;
   }
   .main-contents2 > h3{
	   margin-top: 15%;
	   font-size: 1.7em;
	   text-align: center;
   }

   .main-contents3 > h3{
	   margin-top: 15%;
	   font-size: 1.7em;
	   text-align: center;
   }

   .main-contents4 > h3{
	   margin-top: 15%;
	   font-size: 1.7em;
	   text-align: center;
   }

   .main-contents5 > h3{
	   margin-top: 15%;
	   font-size: 1.7em;
	   text-align: center;
   }

   .main-contents2 > h5{
	   margin-top: 10%;
	   margin-left:5%;
	   font-size: 1.45em;
	   font-weight: 400; /*400-기본, 700-bold*/
	   text-align: center;
	   width: 90%;

   }

   .main-contents3 > h5{
	   margin-top: 10%;
	   margin-left:5%;
	   font-size: 1.45em;
	   font-weight: 400;
	   text-align: center;
	   width: 90%;
   }

   .main-contents4 > h5{
	   margin-top: 10%;
	   margin-left:5%;
	   font-size: 1.45em;
	   font-weight: 400;
	   text-align: center;
	   width: 90%;
   }

   .main-contents5 > h5{
	   margin-top: 10%;
	   margin-left:5%;
	   font-size: 1.45em;
	   font-weight: 400;
	   text-align: center;
	   width: 90%;
   }
   .info-icon{
	   width: 150px;
	   height: 150px;
	   margin: auto;
	   display: block;
   }

}







